//MAKE THE PRIMEREACT DIRECTION RTL
@import "primeReactArabicStyle.scss";


@media screen and (max-width: 991px) {
    .layout-menu-button.layout-topbar-button{
        margin-right: auto;
        margin-left: initial !important;
    }
}

// COLOR THE LOGOUT BUTTON
a[href="/auth/login"]{
    color: #ff0000 !important;
}


// BUTTONS ACTIONS
.AMB_btn{
    border: none;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.15s ease-in-out;
}

.AMB_btn-primary{
    background-color: #007bff;
    color: white;

    &:hover{
        background-color: rgba(#007bff, 0.8);
    }

    &:active{
        background-color: rgba(#007bff, 0.6);
        transform: scale(0.98);
    }
}

.AMB_btn-secondary{
    background-color: #6c757d;
    color: white;

    &:hover{
        background-color: rgba(#6c757d, 0.8);
    }

    &:active{
        background-color: rgba(#6c757d, 0.6);
        transform: scale(0.98);
    }
}

.AMB_btn-success{
    background-color: #28a745;
    color: white;

    &:hover{
        background-color: rgba(#28a745, 0.8);
    }

    &:active{
        background-color: rgba(#28a745, 0.6);
        transform: scale(0.98);
    }
}

.AMB_btn-danger{
    background-color: #dc3545;
    color: white;

    &:hover{
        background-color: rgba(#dc3545, 0.8);
    }

    &:active{
        background-color: rgba(#dc3545, 0.6);
        transform: scale(0.98);
    }
}

.AMB_btn-warning{
    background-color: #ffc107;
    color: white;

    &:hover{
        background-color: rgba(#ffc107, 0.8);
    }

    &:active{
        background-color: rgba(#ffc107, 0.6);
        transform: scale(0.98);
    }
}

.AMB_btn-info{
    background-color: #17a2b8;
    color: white;

    &:hover{
        background-color: rgba(#17a2b8, 0.8);
    }

    &:active{
        background-color: rgba(#17a2b8, 0.6);
        transform: scale(0.98);
    }
}

.AMB_btn-light{
    background-color: #f8f9fa;
    color: black;

    &:hover{
        background-color: rgba(#f8f9fa, 0.8);
    }

    &:active{
        background-color: rgba(#f8f9fa, 0.6);
        transform: scale(0.98);
    }
}

.AMB_btn-dark{
    background-color: #343a40;
    color: white;

    &:hover{
        background-color: rgba(#343a40, 0.8);
    }

    &:active{
        background-color: rgba(#343a40, 0.6);
        transform: scale(0.98);
    }
}

/*RESET THE SIZE OF THE CUSTOM FILE UPLOAD*/
.p-fluid .p-fileupload .p-button {
    width: 3rem !important;
}